{{- if lookPath "systemctl" -}}
#!/usr/bin/env -S bash -c 'echo "Not a user script. source(aka .) only"'

if is_cmd szetup-kubectl4k3s && [ "$(systemctl is-active k3s.service)" = "active" ]; then
    . <( szetup-kubectl4k3s - )

    [[ -n "${DBG}" ]] && echo "kubectl for k3s setup complete."
fi

# vim: set ft=sh expandtab tabstop=4 shiftwidth=4:
{{- end }}
