#"!/usr/bin/env -S bash -c 'echo "Not a user script. source(aka .) only"'
# shellcheck disable=SC1090

if is_cmd 'chezmoi' && (chezmoi --version 2>&1) > /dev/null; then
    alias cz='PAGER="${CZ_PAGER:-${PAGER:-}}" chezmoi '
    alias ll-cz='ll --color=always | grep -v remove_ '

    eval "$( chezmoi completion "${SHELL##*/}" | sed -Ee 's/(complete -o default .* chezmoi)/\1 cz/' )"

    export CHEZMOI_GITHUB_ACCESS_TOKEN={{- .githubToken | quote }}

    CZG_ROOT="$(chezmoi git -- rev-parse --show-toplevel)"
    alias czg="git --work-tree=$CZG_ROOT --git-dir=$CZG_ROOT/.git "
    unset CZG_ROOT

    complete -F _complete_alias czg

    alias czs="chezmoi status "
    alias cza="chezmoi apply "

    chezmoi() {
        ${SET_X:-:} -x
        case "$1" in
            cd) cz-cd "${2}" ;;
            *)
                if [ -x ~/.local/bin/cz ]; then
                    ~/.local/bin/cz "${@}"
                else
                    env chezmoi "${@}"
                fi
                ;;
        esac
        ${SET_X:-:} +x
    }
    cz-cd() { cd "$(chezmoi source-path ${1})"; }
    czgcd() {
        cd "$(SET_X=':' chezmoi git -- rev-parse --show-toplevel)${1:+/${1}}"
    }
    czedignore() {
        local CZ_IGN="$(find $(SET_X=':' chezmoi source-path) -mindepth 1 -maxdepth 1 -name '.chezmoiignore*')"
        "${VISUAL:-${EDITOR:-vi}}" "${CZ_IGN}"
    }
    # CZ_EXTR is evaluated in .chezmoiexternal.yaml.
    # By default, a very small portion of the externals are being
    # evaluated, when CZ_EXTR is set to 1, full evaluation of the
    # externals yaml is performed.
    alias czx="CZ_EXTR=1 chezmoi "
    alias czxs="czx status --include externals"
    alias czxa="czx apply --include externals"
    alias czedext="cz-edit-external"
    alias czedenv="cz-edit-szEnvs"

    function czu() {
        [ -r "$SZ_ENV_ROOT/lib/czu.sh" ] || return 2
        . "$SZ_ENV_ROOT/lib/czu.sh"
    }
    alias czxu="cz upgrade && czg pull && cz init --verbose && czx apply --verbose && _r"
    alias cz-reset-home="(czgcd && cd chezmoi.roots && RESET=reset SRC_DIR=_src.all ./symclone.sh _home && RESET=reset ./symclone.sh _home.macos)"
    alias czed='cz edit '
fi

# vim: set ft=sh sw=4 sts=4 et:
