#!/usr/bin/env -S bash -c 'echo "Not a user script. source(aka .) only"'
if is_cmd moar; then
    export PAGER=moar
    export QPAGER='moar -quit-if-one-screen'
fi

if is_cmd ov; then
    . <( ov completion "${SHELL##*/}" )
    alias less="ov --wrap=false "
    export PAGER="ov --wrap=false --column-delimiter='' --align "
    export QPAGER="${PAGER} --quit-if-one-screen "
fi
[ -z "$PAGER" ] || alias less="${PAGER} "
alias cat='${QPAGER:-${PAGER:-less}} '

if is_cmd bat; then
    alias less='bat --wrap=never --style=plain '
    alias cat="bat --wrap=never --paging=auto --pager='${QPAGER} ' "
fi

{{ if has "cz-prefer-delta" (splitList " " (dig "sz" "env" "flags" "" .)) -}}
if is_cmd delta; then
    CZ_PAGER="delta --pager='${QPAGER} ' "
fi
{{ end -}}
# vim: set ft=sh expandtab tabstop=4 shiftwidth=4:

