#!/usr/bin/env -S bash -c 'echo "Not a user script. source(aka .) only"'

[[ "$(command -v _ls)" =~ alias ]] || alias _ls='command ls '
{{- if eq .chezmoi.os "darwin" }}
alias ls='_ls -hF --color=auto '
alias l='ls -la '
alias lold='l -t '
alias lnew='l -tr '
{{ else }}
alias ls='_ls -hF --color=auto --group-directories-first '
alias l='ls -la '
alias lold='l --sort=time '
alias lnew='l --sort=time --reverse '
{{- end }}
alias ll='l -A'
alias lu='l -U '

alias sudo='sudo '

is_cmd ov \
&& alias less="ov --wrap=false " \
&& export PAGER="ov --wrap=false "

if is_cmd bat; then
    alias less='bat --wrap=never --style=plain '
    alias cat='bat --wrap=never '
elif is_cmd moar; then
    alias less="moar " \
    && export PAGER=moar
fi

is_cmd nvim \
&& export VISUAL="nvim" EDITOR="nvim" \
|| export VISUAL="vim" EDITOR="vim"

alias nvim="POSTFIX_BUITINS=1 command $EDITOR -p "
alias vi='nvim '
alias vim='nvim '
alias nvimdiff='nvim -d '
alias vimdiff='nvimdiff '

if is_cmd git; then
    gitcd() {
        cd "$(git rev-parse --show-toplevel)${1:+/${1}}"
    }
fi

# vim: set ft=sh expandtab tabstop=4 shiftwidth=4:

