#!/usr/bin/env -S bash -c 'echo "Not a user script. source(aka .) only"'

if is_cmd home-manager; then
    alias hm=home-manager
    alias hms='hm switch '
    alias hme='hm edit '
    hmgc() {
        home-manager expire-generations "${1:?state -1 day, old, -2 hours, or generation #}" $(
        ) && nix store gc $(
        ) && nix store optimise
    }
    hmgco() {
        hmgc "$@" $(
        ) && nix store optimise
    }
fi
# vim: set ft=sh expandtab tabstop=4 shiftwidth=4:
