#!/usr/bin/env -S bash -c 'echo "Not a user script. source(aka .) only"'

if is_cmd home-manager; then
    alias hm=home-manager
    alias hms='hm switch '
    alias hme='hm edit '
fi
# vim: set ft=sh expandtab tabstop=4 shiftwidth=4:
