#!/usr/bin/env -S bash -c 'echo "Not a user script. source(aka .) only"'

alias psnt='echo '
alias shavast01='VA22111844-1'
alias shavast02='VA22353109'
alias shavast03='VA25211397201'
alias chqvast02='VA24261830'
alias chqlabvast01='VA23105392-1'
alias rd1labvast01='VA23235392-2'
alias rd1vast01='VA22111844-2'
alias rd1vast02='VA22413109'

VAST_FILES_ROOT="/file_server_var2"
VAST_SCRIPT_ROOT="${VAST_FILES_ROOT}/scripts"
astron='${VAST_SCRIPT_ROOT}/login_to_aws_ecr.sh; ${VAST_SCRIPT_ROOT}/dockersh keep-hubble-latest astron '
capsule='${VAST_SCRIPT_ROOT}/login_to_aws_ecr.sh ; ${VAST_SCRIPT_ROOT}/dockersh keep-hubble-latest capsule'
cdticket='source ${VAST_FILES_ROOT}/CUSTOMERS/CS/support/dbg_tools/cdticket.sh'
dockersh='${VAST_SCRIPT_ROOT}/login_to_aws_ecr.sh ; ${VAST_SCRIPT_ROOT}/cs_dockersh'
dockersh_latest='${VAST_SCRIPT_ROOT}/login_to_aws_ecr.sh ; ${VAST_SCRIPT_ROOT}/cs_dockersh keep-hubble-latest'
flyby='python3 ${VAST_FILES_ROOT}/CUSTOMERS/CS/support/aws_scripts/aws_flyby.py'
hubble='${VAST_SCRIPT_ROOT}/login_to_aws_ecr.sh; ${VAST_SCRIPT_ROOT}/cs_dockersh keep-hubble-latest hubble '
luna='${VAST_SCRIPT_ROOT}/login_to_aws_ecr.sh ; ${VAST_FILES_ROOT}/CUSTOMERS/CS/luna/run --sentry '
old_flyby='python3 ${VAST_FILES_ROOT}/CUSTOMERS/CS/support/aws_scripts/old_aws_flyby.py'
tuna='${VAST_SCRIPT_ROOT}/login_to_aws_ecr.sh ; ${VAST_FILES_ROOT}/CUSTOMERS/CS/luna/run tools '

aws-login() {
{{ if (get . "withBrowser" | default "") -}}
{{ else }}
    export AWS_PROFILE="${AWS_PROFILE:-vastsupport}" && (aws s3 ls s3://vast-support/ >/dev/null 2>&1 ) || aws sso login --use-device-code
{{- end }}
}

