{{- $githubToken := or (env "CZ_GITHUB_ACCESS_TOKEN") (env "CHEZMOI_GITHUB_ACCESS_TOKEN") (env "GITHUB_ACCESS_TOKEN") (env "GITHUB_TOKEN") }}
{{- if not ($githubToken) }}
{{-   $githubToken = promptStringOnce . "githubToken" "Public GITHUB token (mostly for rate limits - !insecure!)" }}
{{- end }}
{{- $sysname := promptStringOnce . "sysname" "System name" }}
{{- $sysgroup := promptStringOnce . "sysgroup" "System group" }}
{{- $sysarea := promptStringOnce . "sysarea" "System area" }}
{{- $gitEmail := promptStringOnce . "gitEmail" "email address (for git commits)" }}
{{- $gitName := promptStringOnce . "gitName" "Full name (for git commits)" }}
{{- $chassisType := "desktop" }}
{{- $sysType := "posix" }}
{{- $altArch := "aarch64" }}
{{- $sysVendor := "unknown" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $sysType = "macos" }}
{{-   $sysVendor = "apple" }}
{{-   if contains "BatteryData" (output "ioreg" "-c" "AppleSmartBattery") }}
{{-     $chassisType = "laptop" }}
{{-   else }}
{{-     $chassisType = "desktop" }}
{{-   end }}
{{- else if eq .chezmoi.os "linux" }}
#  $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{-   $chassisType = "server" }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $sysType = "windows" }}
{{-   $sysVendor = "pc" }}
{{-   $chassisType = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "if ((Get-CimInstance -Class Win32_Battery | Measure-Object).Count -gt 0) { Write-Output 'laptop' } else { Write-Output 'desktop' }") | trim }}
{{- end }}

{{- $scriptTempDir := "~/.cache/chezmoi/tmp" }}
scriptTempDir={{- $scriptTempDir | quote }}

[data]
{{- if ($altArch) }}
  altArch={{- $altArch | quote }}
{{- end }}
{{- if ($chassisType) }}
  chassisType={{- $chassisType | quote }}
{{- end }}
{{- if ($sysType) }}
  sysType={{- $sysType | quote }}
{{- end }}
{{- if ($githubToken) }}
  githubToken={{- $githubToken | quote }}
{{- end }}
{{- if ($sysname) }}
    sysname = {{ $sysname | quote }}
{{- end }}
{{- if ($sysgroup) }}
    sysgroup = {{ $sysgroup | quote }}
{{- end }}
{{- if ($sysarea) }}
    sysarea = {{ $sysarea | quote }}
{{ end }}

{{ if ($gitEmail) }}
    gitEmail = {{ $gitEmail | quote }}
{{- end }}
{{- if ($gitName) }}
    gitName = {{ $gitName | quote }}
{{- end }}
{{- if not ($githubToken) }}
  githubToken={{- $githubToken | quote }}
{{- end }}

[scriptEnv]
  GITHUB_ACCESS_TOKEN={{- $githubToken | quote }}
  GITHUB_TOKEN={{- $githubToken | quote }}

[diff]
#   command = "nvim"
#   args = ["-d",  "{{ "{{ .Destination }}" }}", "{{ "{{ .Target }}" }}"]

    command = "delta"
    args = ["--paging=never", "{{ "{{ .Destination }}" }}", "{{ "{{ .Target }}" }}"]
    pager = "delta"

