# source by .chezmoi.toml.tmpl, it is recommended to edit with
#   cz edit-config-template && cz init

{{- /* Reconfig flags - set any of these to force prompting */ -}}
{{- $reconfigAll   := env "CZ_RECONFIG" -}}
{{- $reconfigFlags := or $reconfigAll (env "CZ_RECONFIG_FLAGS") -}}
{{- $reconfigStyle := or $reconfigAll (env "CZ_RECONFIG_STYLE") -}}

{{- $githubToken := get . "githubToken" | default "" -}}
{{- $githubToken = or (
        env "CZ_GITHUB_ACCESS_TOKEN"
    ) ( env "CHEZMOI_GITHUB_ACCESS_TOKEN"
    ) ( env "GITHUB_ACCESS_TOKEN"
    ) ( env "GITHUB_TOKEN"
    ) ( promptStringOnce . "githubToken" "Public GITHUB token (mostly for rate limits - !insecure!)" $githubToken
    ) -}}
{{- $sysname := promptStringOnce . "sysname" "System name" (or (
        get . "sysname"
    ) ( env "CZ_SYSNAME"
    ) ( .chezmoi.hostname
    )) -}}
{{- $sysgroup := promptStringOnce . "sysgroup" "System group" (or (
        env "CZ_SYSGROUP"
    ) ( .chezmoi.group
    )) -}}

{{- $szEnvFlagsChoices := (
        list .chezmoi.sourceDir ".chezmoidata" "szEnv.yaml" |
        join "/" | include | fromYaml
    ).choices.szEnvFlags -}}
{{- $szEnvFlags := list (dig "sz" "env" "flags" "default" .) "dummy" | join " " | splitList " " -}}
{{- $szEnvFlags  = slice $szEnvFlags 0 (sub (len $szEnvFlags) 1) -}}

{{- $hasExistingFlags := ne (dig "sz" "env" "flags" "" .) "" -}}
{{- if or $reconfigFlags (not $hasExistingFlags) -}}
{{-   $szEnvFlagsSelected := promptMultichoice "Choose sz.env flags" $szEnvFlagsChoices $szEnvFlags -}}
{{-   $szEnvFlags = (or $szEnvFlagsSelected $szEnvFlags) | join " " -}}
{{- else -}}
{{-   $szEnvFlags = $szEnvFlags | join " " -}}
{{- end -}}

{{- $sysuser := promptStringOnce . "sysuser" "System user" (or (
        env "CZ_SYSUSER"
    ) ( .chezmoi.username
    )) -}}
{{- $gitEmail := promptStringOnce . "gitEmail" "email address (for git commits)" (or (
        env "CZ_GIT_EMAIL"
    ) ( output "sh" "-c" "git config user.email || true"
    ) ( list .chezmoi.username "@" .chezmoi.fqdnHostname | join ""
    )) -}}
{{- $gitName := promptStringOnce . "gitName" "Full name (for git commits)" (or (
        env "CZ_GIT_NAME"
    ) ( output "sh" "-c" "git config user.name || true"
    ) ( list .chezmoi.username " (@" $sysname ")" | join ""
    )) -}}

{{- /* Zellij Leader Modifier */ -}}
{{- $zellijLeaderModifier := dig "style" "zellij" "leader-modifier" "" . -}}
{{- $zellijLeaderModifierChoices := (
        list .chezmoi.sourceDir ".chezmoidata" "zellij.yaml" |
        join "/" | include | fromYaml
    ).choices.zellijLeaderModifier -}}
{{- if or $reconfigStyle (not $zellijLeaderModifier) -}}
{{-   $zellijLeaderModifierDefault := $zellijLeaderModifier | default "Alt" -}}
{{-   $zellijLeaderModifierSelected := promptMultichoice "Choose zellij Leader Modifier" $zellijLeaderModifierChoices $zellijLeaderModifierDefault -}}
{{-   $zellijLeaderModifier = (or $zellijLeaderModifierSelected $zellijLeaderModifierDefault) | join " " -}}
{{- end -}}

{{- /* Zellij Leader Key */ -}}
{{- $zellijLeaderKey := dig "style" "zellij" "leader-key" "" . -}}
{{- if or $reconfigStyle (not $zellijLeaderKey) -}}
{{-   $zellijLeaderKey = promptString "Choose zellij Leader Key" ($zellijLeaderKey | default "a") -}}
{{- end -}}

{{- /* Zellij Frames */ -}}
{{- $zellijFrames := dig "style" "zellij" "frames" "" . -}}
{{- if or $reconfigStyle (not $zellijFrames) -}}
{{-   $zellijFrames = promptChoice "Should zellij show pane frames? (y/n)" (list "y" "n") ($zellijFrames | default "y") -}}
{{- end -}}

{{- /* Zellij Theme */ -}}
{{- $zellijTheme := dig "style" "zellij" "theme" "" . -}}
{{- $zellijThemeChoices := (
        list .chezmoi.sourceDir ".chezmoidata" "zellij.yaml" |
        join "/" | include | fromYaml
    ).choices.zellijTheme -}}

{{- if or $reconfigStyle (not $zellijTheme) -}}
{{-   $zellijThemeDefault := $zellijTheme | default "default" -}}
{{-   $zellijThemeSelected := promptMultichoice (list "Choose zellij theme *(only first selection is chosen - default is '" $zellijThemeDefault "')" | join "") $zellijThemeChoices $zellijThemeDefault -}}
{{-   $zellijTheme = first $zellijThemeSelected | default $zellijThemeDefault -}}
{{- else -}}
{{-   $zellijTheme = $zellijTheme -}}
{{- end -}}

{{- /* Prompt Style */ -}}
{{- $promptStyle := dig "style" "prompt" "" . -}}
{{- $promptStyleChoices := list "cool" "hot" "lux" -}}
{{- if or $reconfigStyle (not $promptStyle) -}}
{{-   $promptStyleDefault := $promptStyle | default "cool" -}}
{{-   $promptStyleSelected := promptMultichoice (list "Choose prompt style *(only first selection is chosen - default is '" $promptStyleDefault "')" | join "") $promptStyleChoices $promptStyleDefault -}}
{{-   $promptStyle = first $promptStyleSelected | default $promptStyleDefault -}}
{{- end -}}

{{- $scriptTempDir   := or ( get . "sz.os.scriptTempDir"   ) ( env "CZ_SCRIPT_TEMPDIR"      ) -}}
{{- $chassisType     := or ( get . "sz.os.chassisType"     ) ( env "CZ_CHASSIS"             ) -}}
{{- $sysType         := or ( get . "sz.os.sysType"         ) ( env "CZ_SYS"                 ) -}}
{{- $sysVendor       := or ( get . "sz.os.sysVendor"       ) ( env "CZ_VENDOR"              ) -}}

{{- $arch_alt := "x86_64" -}}
{{- $arch_alt_dash := "x86-64" -}}
{{- $clib_flavor := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $arch_alt = "aarch64" -}}
{{-   $arch_alt_dash = $arch_alt -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $clib_flavor = "-musl" -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-   $clib_flavor = "-msvc" -}}
{{- end -}}

{{- $scriptTempDir := "~/.cache/chezmoi/tmp" }}
scriptTempDir={{ $scriptTempDir | quote }}

[data.sz.env]
{{- if ($szEnvFlags) }}
   flags={{- $szEnvFlags | quote }}
{{- end }}

[data.sz.os]
{{- if eq .chezmoi.os "linux" }}
   short={{- .chezmoi.os | quote }}
{{- else if eq .chezmoi.os "darwin" }}
   short="mac"
{{- else }}
   short={{- substr 0 3 (.chezmoi.os) | quote }}
{{- end }}
   rust_rel_target={{- printf "%s-%s%s" $sysVendor .chezmoi.os $clib_flavor | quote }}
{{- if ($arch_alt) }}
   arch_alt={{- $arch_alt | quote }}
{{- end }}
{{- if ($arch_alt_dash) }}
   arch_alt_dash={{- $arch_alt_dash | quote }}
{{- end }}
{{- if ($chassisType) }}
   chassisType={{- $chassisType | quote }}
{{- end }}
{{- if ($sysType) }}
   sysType={{- $sysType | quote }}
{{- end }}

[data]
{{- if ($githubToken) }}
   githubToken={{- $githubToken | quote }}
{{- end }}
{{- if ($sysname) }}
   sysname = {{ $sysname | quote }}
{{- end }}
{{- if ($sysgroup) }}
   sysgroup = {{ $sysgroup | quote }}
{{- end }}
{{- if ($sysuser) }}
   sysuser = {{ $sysuser | quote }}
{{- end }}

{{- if ($gitEmail) }}
   gitEmail = {{ $gitEmail | quote }}
{{- end }}
{{- if ($gitName) }}
   gitName = {{ $gitName | quote }}
{{- end }}
{{- if not ($githubToken) }}
   githubToken={{- $githubToken | quote }}
{{- end }}

[scriptEnv]
   CZ_SCRIPT_TEMPDIR={{- $scriptTempDir | quote }}
   CZ_CHASSIS={{- $chassisType | quote }}
   CZ_SYS={{- $sysType | quote }}
   CZ_OS={{- .chezmoi.os | quote }}
   CZ_GITHUB_ACCESS_TOKEN={{- $githubToken | quote }}
   CZ_VENDOR={{- $sysVendor | quote }}
   GITHUB_ACCESS_TOKEN={{- $githubToken | quote }}
   GITHUB_TOKEN={{- $githubToken | quote }}

[data.style]
{{- if ($promptStyle) }}
   prompt={{- $promptStyle | quote }}
{{- end }}

[data.style.zellij]
{{- if ($zellijFrames) }}
   frames={{- $zellijFrames | quote }}
{{- end }}
{{- if ($zellijTheme) }}
   theme={{- $zellijTheme | quote }}
{{- end }}
{{- if ($zellijLeaderModifier) }}
   leader-modifier={{- $zellijLeaderModifier | quote }}
{{- end }}
{{- if ($zellijLeaderKey) }}
   leader-key={{- $zellijLeaderKey | quote }}
{{- end }}

{{/*
vim: set filetype=gotexttmpl.toml expandtab tabstop=2 shiftwidth=2:
*/}}
