#!/usr/bin/env -S bash -c 'echo "Not a user script. source(aka .) only"'

{{- if eq .chezmoi.os "darwin" }}
alias l='ls -lahF --color=auto '
alias lold='l -t '
alias lnew='l -tr '
{{ else }}
alias l='ls -lahF --color=auto --group-directories-first '
alias lold='l --sort=time '
alias lnew='l --sort=time --reverse '
{{- end }}
alias ll='l -A'
alias lu='l -U '

alias sudo='sudo '

is_cmd ov \
&& alias less="ov " \
&& export PAGER=ov

is_cmd moar \
&& alias less="moar " \
&& export PAGER=moar

is_cmd nvim \
&& export VISUAL="nvim" EDITOR="nvim" \
|| export VISUAL="vim" EDITOR="vim"

alias nvim="POSTFIX_BUITINS=1 command $EDITOR -p "
alias vi='nvim '
alias vim='nvim '
alias nvimdiff='nvim -d '
alias vimdiff='nvimdiff '

