#!/usr/bin/env -S bash -c 'echo "Not a user script. source(aka .) only"'
# shellcheck disable=SC1090

if is_cmd 'chezmoi'; then
    alias cz="chezmoi "
    eval "$( chezmoi completion "${SHELL##*/}" | sed -Ee 's/(complete -o default .* chezmoi)/\1 cz/' )"

    export CHEZMOI_GITHUB_ACCESS_TOKEN={{- .githubToken | quote }}

    czcd() {
	cd "$(chezmoi source-path "${@}")"
    }
fi
