{{- if has "with-nix-hm" (splitList " " (dig "sz" "env" "flags" "" .)) -}}
{{- $hm := splitList " " (dig "sz" "home-manager" "flags" "default" .) -}}
{{- $def := has "default" $hm -}}
{ ... }:

{
  imports = [ ./default.nix ];

  # Enable order matches .chezmoidata/szEnv.nix-hm.yaml (see notes there).
  sz.platform.genericLinux.enable = {{ or $def (has "sys-generic-linux" $hm) }};
  sz.activations.setNixTrustedUser.enable = {{ has "sys-set-user-trusted" $hm }};

  services.browsers.enable = {{ or $def (has "svc-browsers" $hm) }};
  services.gearlever.enable = {{ or $def (has "svc-gearlever" $hm) }};
  services.gearlever.apps.beeper.enable = {{ or $def (has "svc-gearlever" $hm) }};
  services.vicinae.enable = {{ or $def (has "svc-vicinae" $hm) }};
  services.vicinae.systemd.enable = {{ or $def (has "svc-vicinae" $hm) }};
  services.vicinae.systemd.autoStart = {{ or $def (has "svc-vicinae" $hm) }};

  sz.packages.ungoogled-chromium.enable = {{ or (has "app-ungoogled-chromium" $hm) (has "app-ungoogled-chromium-slack-pwa" $hm) }};
  sz.packages.ungoogled-chromium.slackPwa.enable = {{ has "app-ungoogled-chromium-slack-pwa" $hm }};
  sz.packages.rustdesk.enable = {{ has "app-rustdesk" $hm }};
  sz.packages.winboat.enable = {{ or $def (has "app-winboat" $hm) }};
  sz.packages.zen-browser.enable = {{ or $def (has "app-zen-browser" $hm) }};
  sz.packages.zoom.enable = {{ has "app-zoom" $hm }};
}
{{- end -}}
