{{- if has "with-nix-hm" (splitList " " (dig "sz" "env" "flags" "" .)) -}}
{{- $hm := splitList " " (dig "sz" "home-manager" "flags" "default" .) -}}
{{- $def := has "default" $hm -}}
{ ... }:

{
  imports = [ ./default.nix ];

  # Enable order matches .chezmoidata/szEnv.nix-hm.yaml (see notes there).
  sz.platform.genericLinux.enable = {{ or $def (has "sys-generic-linux" $hm) }};
  sz.platform.fedoraDesktop.enable = {{ has "sys-fedora-desktop" $hm }};
  sz.platform.nvidia.enable = {{ has "sys-nvidia" $hm }};
  sz.activations.setUserShell.enable = {{ has "sys-set-user-shell" $hm }};
  sz.activations.setNixTrustedUser.enable = {{ has "sys-set-user-trusted" $hm }};
  sz.activations.setRootShell.enable = {{ has "sys-set-root-shell" $hm }};
  sz.desktop.hyprland.enable = {{ has "sys-desktop-hyprland" $hm }};
  sz.desktop.plasmaKeyboard.enable = {{ has "sys-desktop-plasma-keyboard" $hm }};
  sz.desktop.gnomeTray.enable = {{ has "sys-desktop-gnome-tray" $hm }};

  services.browsers.enable = {{ has "svc-browsers" $hm }};
  services.gearlever.enable = {{ has "svc-gearlever" $hm }};
  services.gearlever.apps.beeper.enable = {{ has "svc-gearlever" $hm }};
  services.vicinae.enable = {{ has "svc-vicinae" $hm }};
  services.vicinae.systemd.enable = {{ has "svc-vicinae" $hm }};
  services.vicinae.systemd.autoStart = {{ has "svc-vicinae" $hm }};

  sz.autostart.beeper.enable = {{ has "svc-autostart-beeper" $hm }};
  sz.autostart.slack.enable = {{ has "svc-autostart-slack" $hm }};
  sz.autostart.slackPwaVastSupport.enable = {{ has "svc-autostart-slack-pwa-vast-support" $hm }};
  sz.autostart.zen.enable = {{ has "svc-autostart-zen" $hm }};
  sz.autostart.ghostty.enable = {{ has "svc-autostart-ghostty" $hm }};

  sz.packages.common.enable = {{ has "app-common" $hm }};
  sz.packages.digikam.enable = {{ has "app-digikam" $hm }};
  sz.packages.doublecmd.enable = {{ has "app-doublecmd" $hm }};
  sz.packages.ghostty.enable = {{ has "app-ghostty" $hm }};
  sz.packages.gimp.enable = {{ has "app-gimp" $hm }};
  sz.packages.gmic-qt.enable = {{ has "app-gmic-qt" $hm }};
  sz.packages.nix-software-center.enable = {{ has "app-nix-software-center" $hm }};
  sz.packages.ungoogled-chromium.enable = {{ or (has "app-ungoogled-chromium" $hm) (has "app-ungoogled-chromium-slack-pwa-vast-support" $hm) }};
  sz.packages.ungoogled-chromium.slackPwaVastSupport.enable = {{ has "app-ungoogled-chromium-slack-pwa-vast-support" $hm }};
  sz.packages.pinta.enable = {{ has "app-pinta" $hm }};
  sz.packages.rembg.enable = {{ has "app-rembg" $hm }};
  sz.packages.rustdesk.enable = {{ has "app-rustdesk" $hm }};
  sz.packages.winboat.enable = {{ has "app-winboat" $hm }};
  sz.packages.zen-browser.enable = {{ has "app-zen-browser" $hm }};
  sz.packages.zoom.enable = {{ has "app-zoom" $hm }};
}
{{- end -}}
