layout {
    cwd "/Users/gal.szkolnik"
    tab name="CS-DBG" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="zsh" cwd="/Users/gal.szkolnik" size="55%" {
            args "-ic" "ssh -o HostKeyAlgorithms=+ssh-rsa -o PubkeyAcceptedAlgorithms=+ssh-rsa cs-dbg"
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}

