layout {
    cwd "/Users/gal.szkolnik"
    tab name="Teleport" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="zsh" cwd="/Users/gal.szkolnik" size="55%" {
            args "-ic" "vast-teleport launch --from-zellij"
        //  start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}

