# Customized, based on tokyo-night

palette = {{ dig "style" "prompt" "cool" . | quote }}
# global prompt configuration ( https://starship.rs/config/#prompt )
format = """
[░▒▓](fg:gradient_a)\
$os\
[](bg:gradient_b fg:gradient_a)\
$directory\
[](bg:gradient_c fg:gradient_b)\
${custom.chezmoi}\
[](bg:gradient_d fg:gradient_c)\
$git_branch\
$git_status\
[](bg:gradient_e fg:gradient_d)\
$nodejs\
$rust\
$golang\
[](bg:gradient_f fg:gradient_e)\
$time\
[](bg:gradient_g fg:gradient_f)\
$cmd_duration\
$status\
[ ](fg:gradient_g)\
$line_break$character"""

command_timeout = 1500 # milliseconds; default is 500    

[palettes.cool]
gradient_a  = "#3a4e82"
gradient_b  = "#54618c"
gradient_c  = "#495479"
gradient_d  = "#3d4766"
gradient_e  = "#323a53"
gradient_f  = "#262c40"
gradient_g  = "#1f2333"
gradient_h  = "#3a4e82"
text_bright = "#9da7c1"
text_dark   = "#1f2333"

[palettes.lux]
gradient_a  = "#5e3a82"   # Plum
gradient_b  = "#6d548c"   # Dusty violet
gradient_c  = "#5f4979"   # Deep mauve
gradient_d  = "#523d66"   # Grape
gradient_e  = "#443253"   # Aubergine
gradient_f  = "#352640"   # Very dark violet
gradient_g  = "#2a1f33"   # Blackened purple
gradient_h  = "#5e3a82"   # Loop to plum

text_bright = "#c1a7d3"   # Soft lavender-pink
text_dark   = "#2a1f33"   # Matches darkest gradient

[palettes.hot]
gradient_a  = "#823a3a"   # Rich warm crimson
gradient_b  = "#8c5454"   # Muted brick red
gradient_c  = "#794949"   # Desaturated rosewood
gradient_d  = "#664343"   # Deep red-brown
gradient_e  = "#533232"   # Wine red
gradient_f  = "#402626"   # Burnt umber
gradient_g  = "#331f1f"   # Near black with red undertones
gradient_h  = "#823a3a"   # Wraparound to top of gradient

text_bright = "#c1a79d"   # Soft warm beige
text_dark   = "#331f1f"   # Same as deepest gradient for cohesion

[profiles]
transient = """
$time\
[](bg:gradient_h fg:gradient_g)\
$character"""


[os]
style = "bg:gradient_a fg:text_bright"
disabled = false

# Without NerdFont
#[os.symbols]
#Windows = " Win"

# NerdFont - see https://www.nerdfonts.com/cheat-sheet
[os.symbols]
Windows = " "

[directory]
style = "bg:gradient_b fg:text_bright"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "

[custom.chezmoi]
symbol = "🏠"
style = "bg:gradient_c fg:text_bright"
command = "chezmoi status | wc -l"
when = true
format = '[[ $symbol $output ](bg:gradient_c fg:text_bright)]($style)'

[git_branch]
symbol = ""
style = "bg:gradient_d"
format = '[[ $symbol $branch ](bg:gradient_d fg:text_bright)]($style)'

[git_status]
style = "bg:gradient_d"
format = '[[($all_status$ahead_behind )](bg:gradient_d fg:text_bright)]($style)'

[nodejs]
symbol = ""
style = "bg:gradient_e"
format = '[[ $symbol ($version) ](bg:gradient_e fg:gradient_a)]($style)'

[rust]
symbol = ""
style = "bg:gradient_e"
format = '[[ $symbol ($version) ](bg:gradient_e fg:gradient_a)]($style)'

[golang]
symbol = ""
style = "bg:gradient_e"
format = '[[ $symbol ($version) ](bg:gradient_e fg:gradient_a)]($style)'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
style = "bg:gradient_f"
format = '[[  $time ](bg:gradient_f fg:text_bright)]($style)'

[cmd_duration]
min_time = 500 # milliseconds
style = "bg:gradient_g"
# nerd font version:
format = '[[  $duration ](bg:gradient_g fg:text_bright)]($style)'
# General UNICODE font version:
# format = '[[ ⧗ $duration ](bg:gradient_g fg:text_bright)]($style)'
# Emoji version:
# format = '[[ ⌛ $duration ](bg:gradient_g fg:text_bright)]($style)'

[status]
disabled = false
style = "bg:gradient_g fg:text_bright"
format = '[[$symbol$status ](bg:gradient_g fg:text_bright)]($style)'

[character]
disabled = false

# vim: set ft=toml expandtab tabstop=2 shiftwidth=2:

